




        <div class="col-md-5 insp-info">
            <h1>Inspire your inspiration</h1>
            <h3 >Simple to use for your app, products showcase and your inspiration</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis. Proin viverra risus a eros volutpat tempor. In quis arcu et eros porta lobortis sit</p>
            <div class="ico">
                <i class="fa-brands fa-apple fa-3x"></i>
                <i class="fa-brands fa-android fa-3x"></i>
                <i class="fa-brands fa-windows fa-3x"></i>
            </div>
        </div>
        <div class="col-md-5 offset-md-1">
            <img src="../../../../assets/images/ipad-01.png" alt="ipad" title="ipad" class="ipadImg">
        </div>


