<section class="footer my-5">
    <div class="container py-5">
        <div class="row text-center">
            <div class="col-md-10 offset-md-1 ftHead">
                <h1>Keep in touch with us</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis</p>
                <form class="">
                    <div class="form-row align-items-center">
                      <div class="col-md-8 offset-md-2 my-1">
                        <label class="sr-only" for="inlineFormInputName">Name</label>
                        <input type="text" class="form-control" id="inlineFormInputName" placeholder="Name">
                      </div>
                      <button type="submit" class="btn btn-primary text-center">Submit</button>
                    </div>
                  </form>
            </div>
        </div>
        <div class="ft-icon d-flex justify-content-center my-4">
            <i class="fa-brands fa-square-facebook fa-3x"></i>
            <i class="fa-brands fa-square-twitter fa-3x"></i>
            <i class="fa-brands fa-square-google-plus fa-3x"></i>
            <i class="fa-brands fa-product-hunt fa-3x"></i>
        </div>
    <div class="row my-5">
        <div class="col-md-3 ft-info ml-auto">
            <p>HALOVIETNAM LTD</p>
            <p>66, Dang Van ngu, Dong Da</p>
            <p>Hanoi, Vietnam</p>
            <p>contact@halovietnam.com</p>
            <p>+844 35149182</p>
        </div>
        <div class="col-md-3 ft-info">
           <p>Examples</p>
           <p> Shop</p>
           <p> License</p>      
        </div>
        <div class="col-md-3 ft-info">
            <p>  Contact</p>
            <p>  About</p>
            <p>  Privacy</p>
            <p>  Terms</p>
        </div>
        <div class="col-md-3 ft-info">
            <p>Download</p>
            <p>Support</p>
            <p>Documents</p>
        </div>
    </div>
    </div>
</section>
