<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="feature-head py-5">
                    <h1>Tinyone features</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <span class="feature-info">
                    <i class="fa-solid fa-table-cells fa-3x"></i>
                </span>
            </div>
            <div class="col-md-3 mb-5">
                <div class="feature-detail">
                    <h2>Fully Responsive</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum</p>
                </div>
            </div>
            <div class="col-md-1">
                <span class="feature-info">
                    <i class="fa-regular fa-lemon fa-3x"></i>
                </span>
            </div>
            <div class="col-md-3 mb-5">
                <div class="feature-detail">
                    <h2>Fully Layered PSD</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum</p>
                </div>
            </div>
            <div class="col-md-1">
                <span class="feature-info">
                    <i class="fa-regular fa-folder fa-3x"></i>
                </span>
            </div>
            <div class="col-md-3 mb-5">
                <div class="feature-detail">
                    <h2>Font Awesome Icons</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum</p>
                </div>
            </div>
            <div class="col-md-1">
                <span class="feature-info">
                    <i class="fa-solid fa-code fa-3x"></i>
                </span>
            </div>
            <div class="col-md-3 mb-5">
                <div class="feature-detail">
                    <h2>HTML3 & CSS3</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum</p>
                </div>
            </div>
            <div class="col-md-1">
                <span class="feature-info">
                    <i class="fa-regular fa-envelope fa-3x"></i>
                </span>
            </div>
            <div class="col-md-3 mb-5">
                <div class="feature-detail">
                    <h2>Email Template</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum</p>
                </div>
            </div>
            <div class="col-md-1">
                <span class="feature-info">
                    <i class="fa-regular fa-bookmark fa-3x"></i>
                </span>
            </div>
            <div class="col-md-3 mb-5">
                <div class="feature-detail">
                    <h2>Free to download</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum</p>
                </div>
            </div>


        </div>
    </div>
</section>
